{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3> {{ game.home_team.team_name }} vs {{ game.away_team.team_name }} </h3>
        </div>
    </div>

    <form method="post" class="form-horizontal">
        {% crispy form %}
        {% crispy formset formset_helper%}
        <template>
            {% crispy formset.empty_form formset_helper %}
        </template>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-success"><i class="bi bi-plus"></i>Add Foul</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit"><i class="bi bi-floppy"></i>  Save</button>
            </div>
        </div>
    </form>

{% endblock content %}
