{% extends "base.html" %}

{% load humanize %}
{% block content %}

    <table class="table table-striped table-hover">
        <thead>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col" class="text-end">Home Team</th>
            <th scope="col" colspan="2">vs</th>
            <th scope="col" class="text-start">Away Team</th>
            <th scope="col">League</th>
            <th scope="col">Season</th>

        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td><a href="{% url "football:update-game" game.pk %}" class="link-dark">{{ game.date|naturalday }}</a></td>
                    <td><a href="{% url "football:update-game" game.pk %}" class="link-dark">{{ game.date|date:"G:i" }}</a></td>
                    <td class="text-end"><a href="{% url "football:update-game" game.pk %}" class="link-dark">{{ game.home_team.team_name }}</a></td>
                    <td><a href="{% url "football:update-game" game.pk %}" class="link-dark">{{ game.home_team_score }}</a></td>
                    <td><a href="{% url "football:update-game" game.pk %}" class="link-dark">{{ game.away_team_score }}</a></td>
                    <td class="text-start"><a href="{% url "football:update-game" game.pk %}" class="link-dark">{{ game.away_team.team_name }}</a></td>
                    <td>{{ game.league.name }}</td>
                    <td>{{ game.season.season_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
